*{
    margin: 0; padding: 0;
    }
    
   
    header h1{
        font-weight: 200;
    }
    
    .formulare{
      
        margin-top: 10px;
    }
    form{
        display: flex;
        flex-wrap : wrap;
        /* gap: 1rem; */
        /* margin : 4rem 1rem 0 1rem; */
    }
    input, textarea {
        width : 210px;
        height : 3rem;
        border-radius : 10px;
        border : none;
        background :  #D3D3D3;
        text-align : center;
    }
    #description{
        height : 8rem;
    }
    input:focus{
        outline: none;
    }
     button{
      flex: 1;
      display : flex;
      gap : 8px;
      align-items : center;
      background-color: #202882;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.3s;
    }
     button:first-child {
        margin-right: 5px;
      }
      
     button:last-child {
        margin-left: 5px;
      } 
      
     button:hover {
        background-color: #CCCE32;
      }
      
    
    #image{
      /* position: absolute; */
    
    }
      
      .form-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 16px;
      }
      
      .input-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-left: 20px;
      }
      
     
      
      .image-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
      } 
      
      .image-preview img {
        max-width: 100%;
        max-height: 200px;
      }
      .actions {
        display: flex;
        align-items: center;
        margin-left: 20px;
      }
      i{
        font-size: 18px;
      }
      /* .img{
        position: absolute;
        top: 8%;
        right :10%;
        height:180px;
      } */
      img{
        width:180px;
        height:180px;
        border-radius : 10px;
      }
      .img{
        border-radius : 10px;
        border : none;
        background :  #EFF0F4;
      }
       input[type="file"]::file-selector-button {
        display: none;
      }
      input[type="file"]:focus + label {
        outline: 2px solid #3498db;
        outline-offset: -2px;
      }
      
      input[type="file"]:valid + label {
        background-color: #27ae60;
      }
      
     input[type="file"]:valid + label::before {
        content: "Fichier sélectionné";
      }
      
      input[type="file"]::file-selector-button {
        display: none;
      }