<div class="formulare">
    <form [formGroup]="actuForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" >
        <div class="form-container">
          <div class="input-container">
            <div class="input-field">
              <input type="text" id="nom" formControlName="libelle" placeholder="Libelle"  required >
            </div>
  
            <div class="input-desc">
              <textarea id="description" formControlName="description" placeholder="Description" required></textarea>
            </div>
            
            <div class="input-filed">
              <input type="date" class="form-control" formControlName="dateDebut"  required>
            </div>

            <div class="input-filed">
              <input type="date" class="form-control" formControlName="dateFin"  required>
            </div>

          </div>
          <div class="image-container">
            <div class="img">
              <div *ngIf="imageSrc; else showEmptyContainer">
                  <img [src]="imageSrc" style="height: 180px; width: 180px" />
              </div>
              <ng-template #showEmptyContainer>
                  <div style="height: 180px; width: 180px;"></div>
              </ng-template>
            </div>

            <div class="input-filed">
              <input type="file" class="form-control" formControlName="image" multiple="multiple" accept="image/*" (change)="ImageChange($event)" (change)="onFileChange($event)" required>
            </div>

          </div>
        </div>
        <div mat-dialog-actions class="actions">
          <button mat-button mat-dialog-close><i class='bx bx-x'></i> Annuler</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!actuForm.valid"> <i class='bx bx-check'></i>{{ data ? "Modifier" : "Ajouter" }}</button>
        </div>
      </form>
  </div>
  