header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

.img {
    display: flex;
    align-items: center; 
    
}

.img img {
    width: 150px; 
    height: auto; 
    margin-right: 10px;
}

.desc {
    display: flex;
    flex-direction: column; 
}

.contenu{
    margin-top: 2rem;
    margin-left: 4rem;
    width: 600px;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.row{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.contenu i {
    font-size: 22px;
    color: #202882;
}
i{
    font-size: 24px;
    color: #202882;
    cursor: pointer;
}
a{
    background: #202882;
    color: #fff;
    width: max-content;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 10px;
}