<header>
    <h1>Détail du Document </h1>
    <i class='bx bxs-volume-full' (click)="playAudio(document.audio)"></i>
</header>

<section>

    <div class="container-fluid">

        <div class="container">
            <div class="img">
                <img [src]="document.image" alt="mon image">
            </div>
            <div class="desc">
                <p>{{document.nom}}</p>
                <p>{{document.description}}</p>
                <p>Service à contacter :{{document.bureau.nom}} <br> Adresse :{{document.bureau.adresse}}</p>
                <p>Guide :{{document.guide.libelle}}</p>
                <a [href]="document.fichier">Télécharger le fichier</a>
            </div>
        </div>
    
    </div>
    
    <!-- <div class="contenu">
        <div class="row" *ngFor="let doc of document">
            <div class="nomDoc" >
                <p>{{doc.nom}}</p>
            </div>
            <div class="icon">
                <i class='bx bxs-info-circle'  (click)="openDocument(doc)"></i>
            </div>
        </div>
        
    </div> -->

</section>